.drivers-page-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.driver-tiles-container {
    display: flex;
    width: 100%;
    /* border-spacing: 20px; */
    gap: 10px;
    flex-direction: column;
}