.search-box {
    display: flex;
    overflow: hidden;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--color-border-darker);
    padding-left: 10px;
}

.search-input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 12pt;
}