.header {
    position: relative;
    padding: 20px 20px;
    display: flex;
    background-color: var(--color-bg-neutral);
    border-bottom: 1px solid var(--color-border-light);
    z-index: 10;
    box-shadow: #0000000a 0 4px 4px, #f5f5f5 0 -1px inset;
}