.driver-tile-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border-darker);
    border-radius: 10px;
    transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    overflow: hidden;
}

.driver-tile-container.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
}

.driver-name-container {    
    background-color: var(--hover-color);
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px 15px;
    overflow: visible;
    word-wrap: break-word;
    text-align: left;
    font-size: 14pt;
    white-space: nowrap;
    max-width: none;
}

.driver-surname {
    font-weight: bold;
}

.driver-data-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 20px;
}

.driver-data-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr) repeat(4, 1fr) auto;
    width: 100%;
    gap: 20px;
}

.active-days-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}