.driver-tile-container {
    display: flex;
    position: relative;
    border: 1px solid var(--color-border-darker);
    border-radius: 10px;
    width: 100%;
    opacity: 1;
    transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.driver-tile-container.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
}

.driver-name-container {
    background-color: var(--hover-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 20px;
    width: 7%;
    overflow: hidden;
    word-wrap: break-word;
    text-align: left;
    font-size: 14pt;
}

.driver-surname {
    font-weight: bold;
}

.driver-data-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    gap: 150px
}

.driver-data-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr) repeat(4, 1fr) auto;
    width: 100%;
    gap: 20px;
}

.active-days-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}